<template name="login">
	<div class="header row">
		<div class="col-xs-12 col-sm-2">
			<img src="/logo.png" alt="Power rangers" class="logo">
		</div>
		<div class="col-xs-12 col-sm-10">
			<div class="task">
				<p>Choose ranger!</p>
			</div>
		</div>
	</div>
	{{>rangers}}
</template>
<template name="rangers">
	<div class="rangers row">
		{{#each rangers}}
		{{> ranger}}
		{{/each}}
	</div>
</template>

<template name="ranger">
	<div class="ranger col-xs-4">
		<div class="image-wrapper">
			<img src="{{image}}" alt="{{id}}" class="image">
		</div>
	</div>
</template>